.sage-int .sagecell_sessionOutput, .sage-auto .sagecell_sessionOutput {
    border: none!important;
}
.sage-hide-code .sagecell_sessionOutput {
    border: none!important;
    border: none!important;
    border-radius: 5px!important;
}
.sage-hide-code .sagecell_interactControlCell{
    /*width: 100%!important;*/
    /*display: block;*/
    /*margin: 10px;*/
}

.sage-hide-code img {
    display: block;
    margin: 0 auto;
}
